<section class="hero is-fullheight gradient">
    <div class="hero-body">
        <div class="container">

         <h1 class="hero-title display-3">Welcome To Cameroon</h1>

        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="well container-fluid">
            <div class="hoverbox intro-display">
                <a ><img class="hoverbox-layer-bottom" src="/assets/images/display1.jpg" alt="display pictre1"></a>
                <div class="hoverbox-layer-top">
                    <div class="hoverbox-text">It is a long established fact that a reader will be distracted
                        by the readable content of a page when looking at its layout.
                    </div>
                </div>
            </div>
            <div class="hoverbox intro-display">
                <a ><img class="hoverbox-layer-bottom" src="/assets/images/display1.jpg" alt="display pictre1"></a>
                <div class="hoverbox-layer-top">
                    <div class="hoverbox-text">It is a long established fact that a reader will be distracted
                        by the readable content of a page when looking at its layout.
                        </div>
                </div>
            </div>
            <div class="hoverbox intro-display">
                <a ><img class="hoverbox-layer-bottom" src="/assets/images/display1.jpg" alt="display pictre1"></a>
                <div class="hoverbox-layer-top">
                    <div class="hoverbox-text">It is a long established fact that a reader will be distracted
                        by the readable content of a page when looking at its layout.
                        </div>
                </div>
            </div>
            <div class="hoverbox intro-display">
                <a ><img class="hoverbox-layer-bottom" src="/assets/images/display1.jpg" alt="display pictre1"></a>
                <div class="hoverbox-layer-top">
                    <div class="hoverbox-text">It is a long established fact that a reader will be distracted
                        by the readable content of a page when looking at its layout.
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <h2 class="title display-4">Cameroon</h2>
        <div class="introduction">
            <p class="lead">It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less normal
                distribution of letters, as opposed to using 'Content here, content here'
                , making it look like readable English. Many desktop publishing 
                packages and web page editors now use Lorem Ipsum as their default
                model text, and a search for 'lorem ipsum' will uncover many web
                sites still in their infancy. Various versions have evolved over 
                the years, sometimes by accident, sometimes on purpose
                (injected humour and the like).
            </p>
        </div>
    </div>
</section>
<touristic-list></touristic-list>`
