<div class="booking form-container row">
  <div class="col-md-8">
    <form>
      <div class="">
        <h2 class="display-4 booking-heading">Site Details</h2>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="region">Region</label>
                <input type="text" class="form-control" placeholder="South West">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="division">Division</label>
                <input type="text" class="form-control" placeholder="Lebialem">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="siteName">Site-Name</label>
                <input type="text" class="form-control" placeholder="Botanical Garden">
            </div>
        </div>
        <hr>
        <h2 class="display-4 booking-heading">Visitor's Details</h2>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">FirstName</label>
            <input type="text" class="form-control" id="name" placeholder="FirstName">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Check me out
              </label>
            </div>
          </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
  </div>
  <div class="container col-md-4">
    <div class="booking-image">
      <img src="/assets/images/phone.jpg" alt="">
    </div>
  </div>
</div>