section {
    background-color: rgba(0, 0, 0, 0.793);
    color: white;
    padding-top: 3%;
}
.footer-heading {
    color: rgb(255, 166, 0);
    font-weight: 300;
}
.subscribe-heading {
    font-weight: 300;
}
.subscribe {
    margin-top: 3%;
}
ul li {
    list-style: none;
    margin-left: -17%;
}
ul li a {
    text-decoration: none;
    color: white;
}
ul li a:hover {
    color: orange;
}
.btn-footer {
    color: #fff;
    background-color: rgba(255, 166, 0, 0.765);
    font-weight: 300;
}
.btn-footer:hover {
    background-color: rgb(255, 166, 0);
}