<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <img src="" alt="">
                    <p class="logo-tag">Dream Tourist</p>
                </div>
                <h5 class="footer-heading">About US</h5>
                <p><small>We only deem it neccessary that there be a
                    of our beloved country... <a href="">Read More</a></small>
                </p>
                <h6 class="footer-heading">Contact Us</h6>
                <p><small>+237 650 50 12 79</small></p>
                <p><small>njimukarabrian@gmail.com</small></p>
            </div>
            <div class="col-md-3 info">
                <h5 class="footer-heading middle">Information</h5>
                <ul>
                    <li><a href=""><small>About Us</small></a></li>
                    <li><a href=""><small>Regions</small></a></li>
                    <li><a href=""><small>Top Sites</small></a></li>
                    <li><a href=""><small>Bookings</small></a></li>
                    <li><a href=""><small>More Search</small></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="footer-heading middle">Helpful Links</h5>
                <ul>
                    <li><a href=""><small>Services</small></a></li>
                    <li><a href=""><small>Bookings</small></a></li>
                    <li><a href=""><small>Terms and conditions</small></a></li>
                    <li><a href=""><small>Privacy Policy</small></a></li>
                </ul>
            </div>
            <div class="col-md-3 subscribe">
                <h5 class="subscribe-heading">Subscribe for more info</h5>
                <div class="form-group">
                  <label for=""></label>
                  <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="Email">
                </div>
                <button type="submit" class="btn btn-footer">Subscribe</button>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">

    </div>
</section>